*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

:root {
  --primary-green: #078b8c;
  --container-background-color: #efede8;
  --light-gray: #e6e6e6;
  --white: #ffffff;

  /* Table color variables */
  --table-header-bg-color: var(--white);
  --table-bg-color: #fbfbfa;
  --table-border-color: #e4e0e0;

  /* Typography */
  --regular-font-size: 1rem;
  --small-font-size: 0.75rem;
  --xsmall-font-size: 0.5rem;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--container-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
